  body {
    background-color: rgb(23, 32, 39);
    font-family: sans-serif;
  }
  
  #menu-outer {
    margin: 0 auto;
  }

  .table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 3px 3px 3px 3px;
    overflow: hidden;
    background-color: hsl(206, 22%, 9%);
  }
  
  li {
    float: left;
    display: inline;
    padding: 3px 3px 3px 3px;
  }
  
  .container {
    text-decoration: none;
    position: relative;
    width:60px;
    height:60px;
    color: #ffff00;
    text-align: center;
    white-space: nowrap;
    overflow:hidden;
    background-color: hsl(206, 26%, 12%)
  }
  .centered {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(23, 32, 39); /* Fallback color */
    background: rgba(23, 32, 39, 0.7); /* Black background with 0.5 opacity */
    width:100%
  }
